# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.env

# ==============================
# Data (NO subir snapshots)
# ==============================
data/snapshots/
data/*.csv

# ==============================
# Models (NO subir modelos grandes)
# ==============================
model_registry/*.pkl
model_registry/*_metadata.json
model_registry/active_model.json

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Private / Secrets
# ==============================
token.txt
token_private.txt