# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Ignore pickles by default
*.pkl

# But keep required project models
!model_registry/
!model_registry/*.pkl
!model_registry/*.json

# Data
data/*.csv

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Private files
token.txt
token_private.txt